div> a{

    font-size: calc(1.25rem + .5vw);
    margin-left: 5px;
}
.bd-flush{
    position: relative;
    padding: 1rem;
    margin: 1rem 1rem 0;
    border: solid #000;;
    border-width: 1px 0 0;

}

#collapsed_btn{
    --bs-accordion-active-color: white;
    --bs-accordion-active-bg:#000;
    --bs-accordion-btn-focus-border-color:#000;
}
/*file loader input*/
.file_loader .form-group{padding:1em;margin:1em}
.file_loader input[type=file]{outline:0;opacity:0;pointer-events:none;user-select:none}
.file_loader .label{width:120px;border:2px dashed #ce7d7d;border-radius:5px;display:block;padding:1.2em;transition:border 300ms ease;cursor:pointer;text-align:center}
.file_loader .label i{display:block;font-size:42px;padding-bottom:16px}
.file_loader .label i,.file_loader .label .title{color: #b74343;transition:200ms color}
.file_loader .label:hover{border:2px solid #000}
.file_loader .label:hover i,.file_loader .label:hover .title{color:#000}